# Logging
PROMETHEUS_LOGGING_LEVEL=DEBUG

#Context retrieval server settings
PROMETHEUS_CRA_BASE_URL=http://localhost:9006/v1.3


# Working directory settings
PROMETHEUS_WORKING_DIRECTORY=working_dir/


# LLM model settings
PROMETHEUS_ADVANCED_MODEL=gemini-2.5-pro
PROMETHEUS_BASE_MODEL=gemini-2.5-pro

# API keys for various LLM providers
PROMETHEUS_ANTHROPIC_API_KEY=your_anthropic_api_key
PROMETHEUS_GEMINI_API_KEY=gemini_api_key
PROMETHEUS_OPENAI_FORMAT_BASE_URL=your_openai_format_base_url
PROMETHEUS_OPENAI_FORMAT_API_KEY=your_openai_format_api_key

# Model settings
PROMETHEUS_ADVANCED_MODEL_TEMPERATURE=0.5
PROMETHEUS_BASE_MODEL_TEMPERATURE=0.5